<h1> This is the statuses page </h1>

<div><%= link_to "Find Friends!", people_path %></div>
<p></p>
<p></p>
<div><%= link_to "Update your status", new_status_path %></div>

<p></p>

<!-- <% @followed_people.each do |following| %>
  <%= following.email %>
<ul><p>  <%= following.status.try(:text) %> </p></ul>
<% end %> -->

<% @followed_people.each do |following| %>
  <%= following.full_name %>
<ul><p>  <%= following.status.try(:text) %> </p></ul>
<% end %>
